$meli-yellow: #ffe600;
$meli-dark: #333333;
$meli-dark-grey: #666666;
$meli-grey: #999999;
$meli-light-grey: #eeeeee;
$meli-blue: #3483fa;

$main-content-width: 75rem;
$main-content-horizontal-margin: 2rem;
