@import "./../../constants/main.scss";

.homepage-container {
	.homepage-content {
		background-color: white;

		flex-direction: column;
		padding: 50px;

		h1,
		h2,
		h3,
		p {
			margin: 0;
			padding: 0;
		}
		h1 {
			margin-bottom: 32px;
		}

		h2 {
			margin-bottom: 50px;
		}

		h3 {
			font-size: 20px;
			margin-bottom: 16px;
		}
		p {
			font-size: 20px;
			margin-bottom: 4px;
		}
	}
}
